<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag "depot"%>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id = "store">
    <div id = "banner">
      <%= image_tag("logo.png") %>
      <%= @page_title%>
    </div>
    <div id="columns">
      <div id="side">
        <a href="http://www.sohu.com">Home</a><br />
        <a href="http://www.ifeng.com">Questions</a><br />
        <a href="http://www.163.com">News</a><br />
        <a href="http://www.sina.com">Contact</a><br />
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
</body>
</html>
